* {
  box-sizing: border-box;
}

:root {
  --primary-color: #ff5b2e;
}

html {
  font-size: 62.5%;
}

body {
  background: #fffaf5;
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
}

/* Common */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Sora", sans-serif;
}

a {
  text-decoration: none;
}

input,
textarea,
select,
button {
  font-size: inherit;
  font-family: inherit;
}

.container {
  width: 1170px;
  max-width: calc(100% - 48px);
  margin: 0 auto;
}

.btn {
  --height: 56px;

  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-width: 130px;
  height: var(--height);
  line-height: var(--height);
  border-radius: 999px;
  border: 1px solid #000958;
  font-size: 1.6rem;
  font-weight: 500;
  text-align: center;
  color: #000958;
}

.btn:hover {
  opacity: 0.7;
  cursor: pointer;
}

.btn--primary {
  color: #fff !important;
  background-color: var(--primary-color) !important;
  border-color: var(--primary-color) !important;
}

.section-heading {
  color: #000958;
  font-size: 5.2rem;
  font-weight: 700;
  line-height: 1.2;
}

.section-desc {
  color: #656689;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 30px; /* 187.5% */
}

/* =================Header================= */
.header {
  padding: 26px 0;
}

.header__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar__list {
  display: flex;
}

.navbar__link,
.header-action__link {
  color: #5e6085;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1;
  padding: 8px 18px;
}

.navbar__link:hover {
  color: #000958;
  font-weight: 600;
  text-shadow: 0.5px 0 0 currentColor; /*fix lỗi giật do font-weight*/
}

.header-action__link:hover {
  text-decoration: underline;
}

.header-action__btn {
  min-width: 118px;
  height: 50px;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 50px;
  border-color: rgba(0, 9, 88, 0.7);
}

/* ==================Hero================== */
.hero {
  margin-top: 74px;
}

.hero__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 120px;
}

.hero__media {
  position: relative;
  display: flex;
  padding-bottom: 94px;
}

.hero__img-wrap {
  display: flex;
  justify-content: center;
  align-items: flex-end; /*cho sát ảnh xuống đáy*/
  position: relative;
  width: 388px;
  height: 488px;
  flex-shrink: 0;
  border: 3px solid #fff;
  border-radius: 16px;
  background: #fe997b;
}

.hero__img {
  max-width: 100%;
  max-height: 100%;
  border-radius: inherit; /*fix lỗi ảnh thừa*/
}

.hero__decor {
  position: absolute;
  z-index: -1;
}

.decor-left {
  left: -58px;
  bottom: 10px;
}
.decor-right {
  right: -40px;
  top: 17px;
}

.hero__img-wrap--small {
  align-self: flex-end;
  width: 186px;
  height: 244px;
  background: #faa7ad;
  margin-left: -25px;
  margin-bottom: -58px;
  border: 2px solid #fff9f5;
}

.hero__list {
  position: absolute;
  left: 129px;
  bottom: 0;
  width: 250px;
  height: 156px;
  flex-shrink: 0;
  padding: 18px 14px;
  border-radius: 10px;
  background: #fff;
  box-shadow: -17px 14px 68px -4px rgba(207, 174, 132, 0.25);
}

.hero__item {
  display: flex;
  column-gap: 9px;
}

.hero__item-thumb {
  width: 40px;
  height: 40px;
  flex-shrink: 0;
  border-radius: 10px;
  background: #fec23f;
  object-fit: cover;
}

.hero__item-thumb-after {
  background: #c6e2fa;
}

.hero__item-title {
  color: #181e52;
  font-family: "Sora", sans-serif;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1;
}

.hero__item-skeleton {
  margin-top: 7px;
  width: var(--width, 118px);
  height: 4px;
  flex-shrink: 0;
  border-radius: 10px;
  opacity: 0.08;
  background: #000958;
}

.hero__item-separate {
  margin: 20px 0;
  width: 222px;
  height: 2px;
  background: #f2f2f2;
  border-radius: 999px;
}

.hero__content {
  max-width: 44.2%;
}

.hero__heading {
  color: #000958;
  font-size: 6.6rem;
  font-weight: 800;
  line-height: 1.16;
}

.hero__desc {
  margin-top: 24px;
  max-width: 391px;
}

.hero__action {
  margin-top: 38px;
  display: flex;
  align-items: center;
  column-gap: 24px;
}

.hero__btn {
  min-width: 189px;
  height: 60px;
  flex-shrink: 0;
  background: #ff5b2e;
  box-shadow: 0px 13px 26px -8px rgba(255, 91, 46, 0.42);
}

.hero__btn-desc {
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1;
}

.btn-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  margin-left: 10px;
  border-radius: 50%;
  background: #fff;
  box-shadow: 4px 3px 10px -1px rgba(191, 41, 0, 0.4);
}

.hero__link {
  font-weight: 500;
  text-decoration: underline;
  color: #000958;
}

/* ====================About===================== */
.about {
  margin-top: 138px;
  padding-bottom: 130px;
}

.about__inner {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 146px;
}

.about__label {
  color: #5e6085;
  font-family: "Sora";
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1;
}

/* content */
.about__heading {
  margin-top: 15px;
}

.about__desc {
  margin-top: 24px;
}

.about__heading,
.about__desc {
  width: 444px;
}

.about__checklist {
  margin-top: 54px;
  display: grid;
  grid-template-columns: auto auto;
  justify-content: flex-start;
  gap: 36px;
}

.about__check-item {
  position: relative;
  display: flex;
  align-items: center;
  column-gap: 10px;
  color: #48496a;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1;
}

.about__check-item::before {
  display: inline-block;
  content: "";
  width: 24px;
  height: 24px;
  background: #ff5d31;
  box-shadow: 0px 4px 15px -3px rgba(255, 93, 49, 0.69);
  border-radius: 4px;
}

.about__check-item::after {
  position: absolute;
  display: inline-block;
  content: "";
  width: 13px;
  height: 6px;
  top: 5px;
  left: 4px;
  border-left: 3px solid #fff;
  border-bottom: 3px solid #fff;
  rotate: -45deg;
}

/* media */
.about__media {
  position: relative;
}

.about__card {
  position: absolute;
  top: 165px;
  left: 0;
  width: 136px;
  flex-shrink: 0;
  padding: 30px 26px;
  border-radius: 10px;
  background: #5bd6e2;
  text-align: center;
  box-shadow: -15px 26px 48px 0px rgba(85, 240, 255, 0.17);
}

.about__card-title {
  color: #fff;
  font-family: "Sora", sans-serif;
  font-size: 4.2rem;
  font-weight: 700;
  line-height: 1;
}

.about__card-desc {
  margin-top: 14px;
  color: #c6f4f9;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.43;
}

.about__card-decor {
  position: absolute;
  top: -40px;
  right: -33px;
}

.about__img-wrapper {
  position: relative;
  width: 494px;
  margin-left: auto; /*dịch ảnh sang max phải*/
}

.about__img-wrapper::after {
  display: inline-block;
  position: absolute;
  content: "";
  width: 100%;
  height: 336px;
  inset: auto 0 0 0;
  flex-shrink: 0;
  border-radius: 16px;
  background: linear-gradient(180deg, #fce0ef 0%, #fac3d1 100%);
  box-shadow: 11px 18px 65px 0px rgba(255, 155, 121, 0.12);
  z-index: -1;
}

.about__img {
  display: block;
  margin: 0 auto;
}

.about__img-decor {
  position: absolute;
  top: 157px;
  right: -51px;
  z-index: -1;
}

/* media 2 */
.about__img-wrapper-bottom {
  margin-left: 0; /*căn max trái ảnh*/
  width: 458px;
  flex-shrink: 0;
  border-radius: 18px;
  border: 2px solid #fff;
  background: linear-gradient(180deg, #c6e2fa 0%, #94c2ea 100%);
  box-shadow: 0px 17px 77px -8px rgba(190, 165, 139, 0.17);
}

.about__img-bottom {
  width: 100%;
  object-fit: cover;
}

.about__img-wrapper-bottom::after {
  content: none;
}

.about__decor {
  position: absolute;
}

.about__decor:nth-child(1) {
  top: 13px;
  right: 64px;
}

.about__decor:nth-child(2) {
  top: -16px;
  right: 13px;
}

.about__decor:nth-child(3) {
  top: 33px;
  right: -21px;
}

.about__decor:nth-child(4) {
  top: 268px;
  right: -33px;
}

.about__decor:nth-child(5) {
  top: 336px;
  right: 19px;
}

.about__decor:nth-child(6) {
  bottom: -55px;
  right: -42px;
}

/* content 2 */
.about__desc-bottom {
  width: 511px;
  margin-top: 24px;
  margin-bottom: 50px; /*vì phần tab ở dưới còn tái sử dụng*/
}

.tab__list {
  position: relative;
  display: flex;
  column-gap: 56px;
}

.tab__list::after,
.tab__item--active::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  width: 557px;
  height: 2px;
  border-radius: 1px;
  opacity: 0.07;
  background: #ff5b2e;
}

.tab__item--active::after {
  width: 95px;
  opacity: 1;
}

.tab__item {
  display: flex;
  align-items: center;
  column-gap: 11px;
  padding-bottom: 14px;
  cursor: pointer;
}

.tab__icon {
  width: 19px;
}

.tab__title {
  color: #48496a;
  font-family: "Sora", sans-serif;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1;
}

.tab__content {
  padding-top: 36px;
}

.tab__content-item {
  display: none;
  width: 391px;
}

.tab__content-item--active {
  display: block;
}

.tab__content-desc {
  color: #656689;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.72;
}

.tab__content-more {
  display: inline-block;
  position: relative;
  padding-bottom: 3px;
  padding-top: 32px;
  color: #ff5d31;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1;
}

.tab__content-more::after {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  display: inline-block;
  content: "";
  width: 86px;
  height: 2px;
  border-radius: 1px;
  opacity: 0.7;
  background: #FF5D31;
}